* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 90%;
}

.header {
    width: 100vw;
    height: 6vh;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.container {
    width: 100vw;
    height: 88vh;
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    justify-content: center;
}

.bottom {
    width: 100vw;
    height: 6vh;
    background-color: red;
}

.um {
    font-size: 15px;
    padding: 15px;
    width: 300px;
    height: 877px;
    background-color: orange;
    padding-top: 250px;
    margin-bottom: 50px;
}

.sair {
    margin-top: 180px;
}

.dois {
    width: 1250px;
    height: 700px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
    margin-top: 40px;
}

.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 40px;
    margin: 10px;
    margin-left: 170px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

form h1 {
    font-size: 50px;
    margin-bottom: 50px;
}

form input {
    height: 25px;
    margin-bottom: 30px;
}
